asgiref==3.5.0; python_version >= "3.8"
backports.zoneinfo==0.2.1; python_version < "3.9" and python_version >= "3.8"
dj-database-url==0.5.0
django-appconf==1.0.5; python_version >= "3.6"
django-compressor==3.1
django-sass-processor==1.1
django==4.0.3; python_version >= "3.8"
djangorestframework==3.13.1; python_version >= "3.6"
libsass==0.21.0
python-dotenv==0.19.2; python_version >= "3.5"
pytz==2021.3; python_version >= "3.6"
rcssmin==1.1.0
rjsmin==1.2.0
six==1.16.0; python_version >= "2.7" and python_full_version < "3.0.0" or python_full_version >= "3.3.0"
sqlparse==0.4.2; python_version >= "3.8"
tzdata==2021.5; sys_platform == "win32" and python_version >= "3.8"
